* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  
  background-image: url(https://wallpaperaccess.com/full/1914260.jpg);
  
}
/*/////////////////////////////////////////////////////////////////////////////*/
.navbar{
  background-color: black;
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-image: url(https://th.bing.com/th/id/OIP.etxnm3Oxm9H4m2v-S1r_vQHaEK?w=297&h=180&c=7&r=0&o=5&pid=1.7);
  position: fixed; /*fix nav bar*/
  width: 100%;
  border: black solid 2px;
  font-weight: bold;
  font-size: 18px;
  .menu{
       display: flex;
       list-style: none; /* จุดไข่ปลา */

       li {
        margin-left: 2rem;
        a {
          color: aliceblue;
          text-decoration: none;/* เส้นใต้ */
          transition: color 0.3s ease;
        }
        a:hover {
          color: #66cc99;
        }
       }
  }

}
.logo{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 26px;
  
}
/*/////////////////////////////////////////////////////////////////////////////*/
main{
  display: grid;
  grid-template-columns: 1fr 1fr ; /*ทำให้เป็น2แถวใช้grid*/
  gap: 1rem;
  padding: 2rem 10%;
  
  .cl1 , .cl2{
    background-color: rgba(0, 0, 0, 0.87);
  }
  h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    border: #05522b solid 2px ;
    color: rgb(0, 0, 0);
  }
  
}

main div{
  margin-top: 70px;
  border-radius: 8px;
  padding: 1.5rem;
  transition: transform 0.3s ease;
  
}

.cl1 img {
  width: 300px;
  height: 300px;
  border: 5px solid white;
  border-radius: 100%;
  object-fit: cover;
 
}
.cl2 img {
  width: 300px;
  height: 300px;
  border: 5px solid white;
  border-radius: 100%;
  object-fit: cover;
}
.cl1 img, .cl2 img {
  display: block;
  margin: 0 auto;
  border: #05522b solid 2px;
}

.doc {
  background-color: aliceblue;
  font-weight: 600;
  border: #05522b solid 2px ;
}



/*/////////////////////////////////////////////////////////////////////////////*/

/*flex browser*/
@media (max-width: 768px) {
  .navbar {
      padding: 1rem;

      .menu{
        flex-direction: column;
        align-items: center;

        li {
          margin-left: 0;
          margin-bottom: 0.5rem;
        }
      }
      
    }
    section {
      grid-template-columns: 1fr;
    }

}
/*/////////////////////////////////////////////////////////////////////////////*/
